pipeline/If_Condition_Activity.json
{
	"name": "If_Condition_Activity",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_All_Files_From_Input",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ifcondition_inputconn",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Iterate_Input_Container",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_All_Files_From_Input",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_All_Files_From_Input').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IfCondition_To_Check_Employee_File",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'Employee')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Red_nonemployee_files",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "nonemployee",
											"value": "false"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Read_filenames_Employee",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "employee",
											"value": "true"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"employee": {
				"type": "String"
			},
			"nonemployee": {
				"type": "String"
			}
		},
		"annotations": []
	}
}